/*
    *Palette:
        #bdc4cb
        #262121
        #7c6b65
        #f2800a
        #efa94d
 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--primaryColorDark); */
}
:root {
  --secondaryColorLight: #d7d7d8;
  --dark: #262121;
  --secondaryColorDark: #bdc4cb;
  --primaryColorDark: #d37006;
  --primaryColorLight: #efa94d;
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: sans-serif;
  font-size: 62.5%;
}
.hidden {
  display: none;
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
}

/* MARKET */
.market {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 0.3fr 5fr;
  grid-template-rows: 1fr repeat(5, 1.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* Left menu */
.hidden-menu {
  transform: translateX(-12rem);
  transition: transform 0.5s ease-in-out;
}
.left-menu {
  background-color: #252120;
  height: 100vh;
  grid-area: 1 / 1 / 7 / 2;
  position: fixed;
  display: grid;
  row-gap: 2rem;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  z-index: 1000;
  width: 6rem;
  transition: transform 0.5s ease-in-out;
}
.active-tab {
  color: var(--primaryColorDark) !important;
}
.menu-icon {
  font-size: 4rem !important;
  color: var(--secondaryColorLight);
  align-self: center;
  justify-self: center;
}
.logout-icon {
  font-size: 4rem !important;
  cursor: pointer;
  color: var(--secondaryColorLight);
  align-self: center;
  justify-self: center;
}
.close:hover {
  color: rgb(219, 47, 47) !important;
  transition: all 0.3s;
}
.logout-icon:hover {
  color: rgb(219, 47, 47);
  transition: all 0.3s;
}

/* Navigation bar */
.nav-bar-logo {
  height: 5rem;
  margin-left: 5rem;
}
.menu-nav {
  color: var(--dark) !important;
}
.menu-nav:hover {
  color: var(--primaryColorDark) !important;
  transition: all 0.3s;
}
.nav-bar {
  position: relative;
  background-color: #f5f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
  grid-area: 1 / 2 / 2 / 5;
  position: fixed;
  z-index: 998;
  height: 10rem;
  padding-left: 2rem;
}
.balance-cart {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.cart-box {
  display: flex;
  justify-items: center;
  align-items: center;
}
.icon {
  cursor: pointer;
  font-size: 2.5rem;
}
.icon:hover {
  color: var(--primaryColorDark);
  transition: all 0.3s;
}
.balance p {
  font-size: 1.4rem;
  color: var(--dark);
}
.balance-text {
  color: var(--primaryColorDark) !important;
}
.search-bar {
  padding: 0.4rem;
  font-size: 1.4rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--dark);
}
.search-bar:focus {
  border-color: var(--primaryColorDark);
  transform: scale(1.05);
  transition: all 0.3s;
}
/* Market content */
.market-content {
  grid-area: 2 / 2 / 7 / 5;
  margin-left: 5rem;
  margin-top: 4rem !important;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 2rem;
  /* height: 100vh; */
}
.products-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.products-section-header {
  font-size: 2.4rem;
}
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  margin-right: 10rem;
}
