/* 
#f7ca9a
#f4b572
#f2aa5d
#f1a049
#fcead7
*/
body {
  background: rgb(180, 180, 180);
  background: linear-gradient(
    0deg,
    rgba(180, 180, 180, 1) 0%,
    rgba(204, 204, 204, 1) 0%,
    rgba(255, 255, 255, 1) 64%,
    rgba(215, 215, 215, 1) 100%
  );
}
.profile-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile-section h1 {
  font-size: 2.4rem;
}
.profile-box {
  background-color: #f5f2f2;
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border-radius: 10px;
  column-gap: 3rem;
  margin-right: 10rem;
  margin-top: 5rem;
  padding: 3rem;
}
.profile-icon {
  font-size: 15rem;
  margin-left: 2rem;
  color: var(--primaryColorLight);
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.info-box-text {
  font-size: 1.2rem;
}
.btn-delete {
  border: none;
  outline: none;
  cursor: pointer;
  width: 10rem;
  font-size: 1.2rem;
  color: var();
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #ded7d8;
}
.btn-delete:hover {
  transform: scale(1.05);
  color: rgb(219, 47, 47);
  transition: all 0.2s;
}
/** balance-box*/
.balance-icon {
  font-size: 5rem;
  color: var(--primaryColorLight);
}
.balance-box {
  border-radius: 1rem;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.balance-box-text {
  color: var(--primaryColorLight);
}
.seperator-bar {
  border: 2px solid black;
  height: 100%;
}
/** balance-box*/

/** profile-options */
.options-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f5f2f2;
  align-items: center;
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);
  margin-right: 10rem;
  padding-top: 1rem;
  height: 50rem;
}
.icons-bar {
  box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: #f5f2f2;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin-bottom: -5rem;
  cursor: pointer;
}
.refresh-icon {
  font-size: 4rem;
}
.inventory-icon {
  font-size: 4rem;
}
.active-option {
  color: var(--primaryColorLight);
}
.option-icons:hover {
  transform: scale(1.02);
  color: var(--primaryColorDark);
  transition: all 0.3s;
}
/** profile-options */
/*! product items*/
.inventory-items {
  overflow-y: scroll;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inventory-item {
  width: 95%;
  transition: transform 0.3s ease;
}
.invetory-mode {
  display: flex;
  flex-grow: 1;
}
.inventory-item:hover {
  transform: scale(1.01);
}
.product-grid-card {
  background-color: #f5f2f2;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 7rem;
}
.product-image {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.product-category {
  width: 15rem;
  text-align: center;
  font-size: 1.8rem;
  color: var(--primaryColorLight);
}
.product-Date {
  width: 20rem;
  font-size: 1.5rem;
  line-height: 1.2;
  overflow-wrap: break-word;
}
.product-description {
  width: 35rem;
  font-size: 1.5rem;
  line-height: 1.2;
  overflow-wrap: break-word;
}
.product-price {
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primaryColorDark);
}
.market-btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primaryColorDark);
  height: 50%;
  width: 10%;
}
.market-btn:hover {
  transform: scale(1.02);
  color: var(--primaryColorDark);
  background-color: #fff;
  transition: all 0.3s;
}
/*! disable the scroll bar*/
::-webkit-scrollbar {
  width: 0px;
}
/*! disable the scroll bar*/
/*! product items*/
/*! change item content*/
.edit-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.save-changes {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primaryColorDark);
  height: 50%;
  width: 90%;
}
.save-changes:hover {
  transform: scale(1.02);
  color: var(--primaryColorDark);
  background-color: #fff;
  transition: all 0.3s;
}
.cancel-edit-btn {
  font-size: 5rem;
}
.cancel-edit-btn:hover {
  transform: scale(1.02);
  color: gray;
  transition: all 0.3s;
}
.item-new-price {
  width: 10rem;
  height: 3rem;
  font-size: medium;
  border: 0;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.trash {
  font-size: 3rem;
  margin-left: -1rem;
}
.cancel {
  font-size: 4rem;
}
.cancel:hover {
  transform: scale(1.02);
  color: gray;
  transition: all 0.3s;
}
.trash:hover {
  transform: scale(1.02);
  color: #cf142b;
  transition: all 0.3s;
}
.item-new-quantity {
  width: 10rem;
  height: 3rem;
  font-size: medium;
  border: 0;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.item-new-description {
  width: 35rem;
  font-size: 1.5rem;
  resize: none;
  border: 0;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3);
  padding: 6px;
}
.item-new-category {
  width: 15rem;
  height: 3rem;
  font-size: medium;
  border: 0;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.edit-item-hover:hover {
  cursor: pointer;
}
.upload-image {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: gray;
  /* background-image: none; */
  background-size: cover; /* Cover the container while maintaining aspect ratio */
  background-position: center; /*Center the background image*/
  width: 10%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the icon is below the input */
  pointer-events: none; /* Prevent the icon from capturing pointer events */
  font-size: 5rem;
}
.upload-image:hover .upload-icon {
  color: var(--primaryColorDark);
  transition: all 0.3s;
}
.blured {
  filter: blur(4px);
}
.edit-mode {
  width: 13rem;
  background-color: #f5f2f2;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 7rem;
}
/*! change item content*/
/*! add new item*/
.add-btn {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primaryColorDark);
  height: 50%;
  width: 10%;
}
.add-btn:hover {
  transform: scale(1.02);
  color: var(--primaryColorDark);
  background-color: #262121;
  transition: all 0.3s;
}
/*! add new item*/
/*!upload image from local device*/
.inputfile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
/*!upload image from local device*/
/*TODO this is optional part*/
.slide-down-icon {
  font-size: 3rem;
}
.order-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.history-item {
  position: relative;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.inventory-item.history-item:not(:first-child) {
  display: none;
  transition: display 0.5s ease-in-out;
}

.slide-down-icon {
  cursor: pointer;
  transition: transform 0.4s ease;
}

.slide-down-icon.rotated {
  transform: rotate(180deg);
}
.groupColor {
  background-color: #f7ca9a;
}
/*TODO this is optional part*/
