/*
    *Palette:
        #bdc4cb
        #262121
        #7c6b65
        #f2800a
        #efa94d
 */
/* !Login section */
.login-section {
  padding-top: 5rem;
  width: 100%;
  
  /* height: 100vh; */
  background: rgb(252, 173, 53);
  background: linear-gradient(
    125deg,
    rgba(252, 173, 53, 1) 0%,
    rgba(242, 128, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.icon-box {
  /* border: solid 2px #fff; */
  border-radius: 40px;
  /* background-color: var(--secondaryColorLight); */
  box-shadow: 1px #000;
}

.box {
  position: relative;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #e3e2e2;
  border: 1px solid #fff;
  border-radius: 3rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  width: 30%;
}

.active-tab {
  background-color: var(--primaryColorDark);
  color: #fff !important;
  top: -5rem !important;
  transition: all 0.3s;
}
.inactive-tab {
  background-color: var(--secondaryColorDark);
  transition: all 0.3s;
}
.tab {
  position: absolute;
  cursor: pointer;
  padding: 2rem 4rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  top: -3.5rem;
}
.login-tab {
  content: "Login";
  left: 25%;
  transform: translateX(-50%);
}
.signup-tab {
  content: "Signup";
  right: 25%;
  transform: translateX(50%);
}
.login-box {
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
  width: 100%;
}

.input-field-label {
  font-size: 2.2rem;
}

.input-field-element {
  width: 80%;
  /* height: 4rem; */
  border-radius: 1rem;
  outline: none;
  border: 2px solid var(--primaryColorLight);
  font-size: 2rem;
  padding: 1rem;
}

input.input-field-element:focus {
  outline: none;
  transition: all 0.2s;
  border: 3px solid var(--primaryColorDark);
  transform: scale(1.05);
}

.btn {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 15rem;
  font-size: 1.6rem;
  padding: 1rem;
  outline: none;
  border-radius: 20px;
  border: 1px solid var(--primaryColorDark);
}
.btn:hover {
  transition: all 0.4s;
  background-color: var(--primaryColorDark);
  color: #fff;
}
.phone-bakr {
  align-self: flex-end;
  justify-self: center;
  transform: translateY(-50%);
}
