<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/General.css" />
    <link rel="stylesheet" href="./css/deposit.css" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./img/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/favicon_io/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./img/favicon_io/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script defer type="module" src="./js/deposit.js"></script>
    <script defer type="module" src="./js/General.js"></script>
    <title>TechHaven</title>
  </head>

  <body>
    <!-- User market -->
    <section id="market" class="market">
      <div class="left-menu hidden-menu">
        <ion-icon
          class="icon menu-icon menu left-menu-btn close"
          name="close-outline"
        ></ion-icon>
        <ion-icon class="icon menu-icon home" name="home-outline"></ion-icon>
        <ion-icon
          class="icon menu-icon profile"
          name="person-circle-outline"
        ></ion-icon>
        <ion-icon
          class="icon menu-icon wallet active-tab"
          name="wallet-outline"
        ></ion-icon>
        <ion-icon class="logout-icon" name="log-out-outline"></ion-icon>
      </div>
      <nav class="nav-bar">
        <ion-icon
          class="icon menu-icon menu menu-nav"
          name="menu-outline"
        ></ion-icon>
        <div>
          <img class="nav-bar-logo" src="./img/TechHaven logo.png" />
        </div>
      </nav>
      <div class="market-content">
        <!-- TODO -->
        <div class="depo-box">
          <div class="current-cash">
            <span class="label">Balance</span>
            <div class="cash-display">
              <span class="current-cash-amount">$</span>
              <span class="current-cash-amount" id="cash"
                ><%=user.Balance%></span
              >
            </div>
            <div class="line-break"></div>
          </div>
          <div class="deposit-box" id="trans-box">
            <input type="number" class="input-amount" id="cash-input" />
            <button class="btn" id="charge">Charge</button>
          </div>
          <div style="display: flex; justify-content: center">
            <img src="./img/credit-card.png" alt="credit card" />
          </div>
        </div>
      </div>
    </section>
  </body>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
