<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/General.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <script defer type="module" src="./js/loginAdmin.js"></script>
    <title>TechHaven</title>
  </head>
  <body>
    <!-- Login Section -->
    <section class="login-section">
      <div class="icon-box">
        <img src="/Frontend/public/TechHaven logo.png" height="128" />
      </div>
      <div class="box login-box">
        <div class="input-field">
          <label class="input-field-label" for="fname">Email:</label>
          <input
            class="input-field-element"
            type="email"
            id="email-input"
            name="fname"
            placeholder="johnsmith@hotmail.com"
          />
        </div>
        <div class="input-field" id="password">
          <label class="input-field-label" for="fname">Password:</label>
          <input
            class="input-field-element"
            type="password"
            id="password-input"
            name="fname"
            placeholder="Your password"
          />
        </div>
        <div class="input-field" id="login-btn">
          <button class="btn btn-login">Login</button>
        </div>
      </div>
      <div class="phone-bakr">
        <img src="/Frontend/public/phone.svg" width="256" />
      </div>
    </section>
  </body>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
